<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Minecraft</short>
  <description>Minecraft is a proprietary protocol used by the Minecraft game.</description>
  <port protocol="tcp" port="{{ port }}"/>
</service>